@charset "UTF-8";
header {
  background-color: rgba(0, 0, 0, 0.747);
  height: 150px;
}

.logo-pc {
  width: 80px;
  padding: 5px;
}

h1 {
  color: white;
  font-weight: bold;
}

.navbar {
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}
.navbar .navbar-toggler-icon {
  background-color: white !important;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .navbar-nav .nav-item {
  margin: 0 12px;
}
.navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: #343a40;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(77, 175, 11);
  color: #343a40;
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #343a40;
}

.dropdown-menu {
  background-color: rgb(77, 175, 11);
}
.dropdown-menu .dropdown-item {
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

body {
  background-color: slategrey;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  border: solid black 2px;
  background-color: rgb(77, 175, 11);
  color: black;
}

.texto-nuestra-tienda {
  color: black;
  font-weight: bold;
}

.subtitulo-prod {
  background-color: rgb(77, 175, 11);
  border: solid black;
}

.fondo-articulo {
  background-color: black;
}
.fondo-articulo:hover {
  transform: scale(1.05);
}

.div-de-cada-articulo {
  background-color: #343a40;
  color: white;
  padding: 20px;
  /* Espaciado interno */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  /* Sombra */
  transition: transform 0.2s;
  /* Transición suave para el efecto hover */
}
.div-de-cada-articulo .card-custom:hover {
  transform: scale(1.05);
  /* Efecto de aumento al pasar el mouse */
}

.productos-tienda {
  width: 350px;
  height: 300px;
  /* Altura fija de 250px */
  object-fit: cover;
  /* Asegura que la imagen cubra el área del contenedor sin distorsión */
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
  display: block;
  /* Asegura que la imagen se comporte como un bloque, lo que permite centrarla */
}

.btn-dark:hover {
  background-color: #279b3a;
  transform: scale(1.05);
}

.img-prod {
  width: 28%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.beneficios-section {
  border: solid black;
  background-color: rgb(77, 175, 11);
  margin-bottom: 30px;
}

ul li {
  list-style: none;
  border: solid black 1px;
  color: black;
}

.contenedor-ayuda {
  border: solid black;
}

.div-ayuda-html {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
}

.div-preg-frec ul {
  background-color: white;
}

.imagen-ayuda {
  max-height: 400px;
}

.parrafo-nosotros-p {
  font-weight: bold;
  font-size: 2rem;
}

.seccion-testimonios-clientes {
  border: 6px solid black;
  background-color: rgba(245, 245, 245, 0.233);
}
.seccion-testimonios-clientes .subtitulo-testimonios {
  background-color: rgb(77, 175, 11);
  width: 100%;
  margin-top: 16px;
}

.formulario-testimonios {
  background-color: rgba(245, 245, 245, 0.9);
  border: 1px solid solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
}

.fondo-nosotros {
  width: 100%;
  height: auto;
  text-align: center;
}

.seccion-tienda {
  background-color: black;
  border: solid black;
  color: white;
}

footer {
  border-top: solid black;
  background-color: rgb(77, 175, 11);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

@media (max-width: 575px) {
  header {
    height: 120px;
    padding: 5px 0;
  }
  .logo-pc {
    width: 60px;
  }
  .navbar-nav .nav-item {
    margin: 0 8px;
  }
  .navbar-nav .nav-link {
    padding: 8px 12px;
  }
  body {
    font-size: 14px;
    padding: 5px;
  }
  footer {
    width: 100%;
    background-color: rgb(77, 175, 11);
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header {
    height: 140px;
  }
  .logo-pc {
    width: 70px;
  }
  body {
    font-size: 16px;
    padding: 10px;
  }
  footer {
    text-align: center;
    background-color: rgb(77, 175, 11);
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 160px;
  }
  .logo-pc {
    width: 80px;
  }
  body {
    font-size: 18px;
    padding: 15px;
  }
  footer {
    text-align: left;
    background-color: rgb(77, 175, 11);
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    height: 180px;
  }
  .logo-pc {
    width: 90px;
  }
  body {
    font-size: 20px;
    padding: 20px;
  }
  footer {
    text-align: left;
    background-color: rgb(77, 175, 11);
    width: 100%;
  }
}
@media (min-width: 1200px) {
  header {
    height: 200px;
  }
  .logo-pc {
    width: 100px;
  }
  body {
    font-size: 22px;
    padding: 25px;
  }
  footer {
    text-align: left;
    background-color: rgb(77, 175, 11);
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
