.contenedor-ayuda {
    border: $color-borde;
  }

  .div-ayuda-html {
    background-color: whitesmoke;
    color: $color-negro;
    font-weight: bold;
  }

  .div-preg-frec {
    ul {
      background-color: $color-blanco;
    }
  }

  .imagen-ayuda {
    max-height: 400px;
  }