



  .container-de-productoss {
    background-color: #343a40; /* Fondo oscuro */
    padding: 30px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7); /* Sombra más intensa */
    margin-top: 50px; /* Margen superior */

    .subtitulo-prod {
      background-color: $color-verde;
      border: $color-borde;
    }
  }

  .fondo-articulo {
    background-color: $color-fondo-articulo;
    &:hover {
      transform: scale(1.05);
    }
    .productos-tienda {
      width: 45%;
      height: 250px;
      max-height: 300px;
      object-fit: cover;
      margin: 0 auto;
    }
    .div-de-cada-articulo {
      color: $color-blanco;
    }
  }

