.fondo-nosotros {
    width: 100%; // Hace que el elemento ocupe todo el ancho de la pantalla
    height: auto; // Ajusta la altura automáticamente según el contenido
    text-align: center; // Centra el contenido de texto
  }