.seccion-testimonios-clientes {
    border: 6px $color-borde;
    background-color: rgba(245, 245, 245, 0.233);

    .subtitulo-testimonios {
        background-color: $color-verde;
        width: 100%;
        margin-top: 16px;
    }
}

.formulario-testimonios {
    background-color: rgba(245, 245, 245, 0.9); // Fondo sutil para el formulario
    border: 1px solid $color-borde; // Borde con color definido
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombra suave
    border-radius: 8px; // Bordes redondeados
    width: 80%; // Ahora el formulario ocupa un 80% del contenedor
    max-width: 900px; // Aumento del ancho máximo
    margin: 40px auto; // Centrado y con margen superior e inferior
}




.animacion {
    height: 250px;
    background-color: #ffffff; // Color de fondo (blanco)
    position: relative; // Para permitir que el texto se mueva dentro del contenedor
}

.texto-animado {
    font-size: 2rem;
    color: $color-verde;
    position: absolute; // Para que el texto se mueva en relación al contenedor
    animation: horizontal-motion 4s linear infinite; // Animación en bucle
}

@keyframes horizontal-motion {
    0% {
        transform: translateX(25%); // Comienza en el 25% del contenedor
    }

    50% {
        transform: translateX(75%); // Se mueve al 75% del contenedor
    }

    100% {
        transform: translateX(100%); // Termina fuera de la pantalla a la derecha
    }
}