.div-de-cada-articulo {
  background-color: #343a40;
  color: $color-blanco;
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra */
  transition: transform 0.2s; /* Transición suave para el efecto hover */

  .productos-tienda {
    width: 350px;
    height: 300px; /* Altura fija de 250px */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor sin distorsión */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Asegura que la imagen se comporte como un bloque, lo que permite centrarla */
  }
}

 .fondo-articulo {
   background-color: $color-fondo-articulo;
   &:hover {
     transform: scale(1.05);
   }
    .img-prod {
   width: 28%;
   height: 200px;
   object-fit: cover;
   margin: 0 auto;
 }
 
}