footer {
    border-top: $color-borde;
    background-color: $color-verde;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

@media (max-width: 575px) {

    // Dispositivos móviles
    footer {
        text-align: center; // Centrar el texto en pantallas móviles
    }
}


@media (min-width: 576px) and (max-width: 767px) {

    // Tabletas en modo vertical
    footer {
        text-align: center; // Asegurar que el footer se vea centrado
    }
}


@media (min-width: 992px) and (max-width: 1199px) {

    // Pantallas de escritorio pequeñas
    footer {
        text-align: left;
    }
}


@media (min-width: 1200px) {
    footer {
        text-align: left;
    }
}